html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #FCFCFC;
}

.wrap > .container {
padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0; 
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
  .nav li > form {
      padding: 3px;
  }
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/*Index page style*/

/*navbar style*/
.navbar{
      font-family: Calibri Light;
      height: 75px;
      font-size: 15px;
     background-color: #080808; 
      font-color: #00BCD7;
      font-weight: bolder;
      padding-top:0.5em; 
      margin: 0px;

}

.navbar-brand{
 margin:0px;
 padding:0px;
}

#w1{
  padding-top:0.3em; 
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 7s;
  animation-name: fade;
  animation-duration: 7s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.col-lg-4{

    float: center;
    margin-right: 20px;
    width: 350px;
    margin-left: 20px;
    text-align: justify;

}

.headline2index{
  font-size: 25px;
  color:#;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.textindex{
color: GREY;
}

.btn-default-index{
color:#ffffff;
background-color: #5BC0DE;
}


/*Review, English and Other page style*/

.img1{
  margin-left: 200px;
  height: 200px;
  weight: 150px;
}
a.a1{
  font-family: calibri ;
  font-color: #ffffff;
  font-size: 18px;
  margin-top: 0em;
  margin-right: 10em;
}
p.p1{

  text-align: justify;
  margin-right: 20em;
}
.img2{
  width: 10%;
  height: 4%;
  margin-left: 250px;
}

/*Tutorial page style*/

table, td, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 50%;
  
}

th, td {
    padding: 10px;
  font-size: 12px;
}

/*Read more buttons*/

p.buttonreadmore{
  float:right;
  margin-right: 275px;
}

a.btn.btn-default{
  padding:5px;
  font-size: 14px;
}


/*SignUp,LogIn page style*/
div.site-signup,div.site-login{
    display: block;
    text-align: center;

}
div.col-lg-5{

margin-left: 340px;
}
div.col-lg-6{

}

