/* Sign Up Form */
.row .form{
	margin: 20px 250px 30px;
	width: 300px;
	font-family: Verdana;
	font-size: 15px;
	
}

.tb{
	 border:solid #0b3241 1px;
	 padding:25px;
	 box-shadow: 10px 10px 5px #888888;
	 margin: 70px 200 30px;
	 margin-top:25px;
	 margin-bottom:25px;
	 height:500px;
}

/*Reservation Form _Form */
.tb2{
	 border:solid #0b3241 1px;
	 padding:25px;
	 margin: 70px 200 30px;
	 margin-top:5px;
	 margin-bottom:25px;
	 height:50px;
	
}
.rowb{
margin: 20px 100px 30px;
	width: 600px;
	font-family: Verdana;
	font-size: 15px;	
}